body {
  background-image: url('https://images.wallpaperscraft.com/image/blue_backgrounds_solid_light_65833_2560x1080.jpg');
}

.main-wrapper {
  width: 50vw!important; 
}

.key-input {
  width: 40vw!important;
}